@keyframes animate-tanuki-left-cheek {
  0%,
  10%,
  100% {
    fill: #fed8a4;
  }
  90% {
    fill: #fca326;
  }
}
@keyframes animate-tanuki-left-eye {
  10%,
  80% {
    fill: #fc6d26;
  }
  20%,
  90% {
    fill: #fec2a4;
  }
}
@keyframes animate-tanuki-left-ear {
  10%,
  80% {
    fill: #e24329;
  }
  20%,
  90% {
    fill: #f1a699;
  }
}
@keyframes animate-tanuki-nose {
  20%,
  70% {
    fill: #e24329;
  }
  30%,
  80% {
    fill: #f1a699;
  }
}
@keyframes animate-tanuki-right-eye {
  30%,
  60% {
    fill: #fc6d26;
  }
  40%,
  70% {
    fill: #fec2a4;
  }
}
@keyframes animate-tanuki-right-ear {
  30%,
  60% {
    fill: #e24329;
  }
  40%,
  70% {
    fill: #f1a699;
  }
}
@keyframes animate-tanuki-right-cheek {
  40% {
    fill: #fca326;
  }
  60% {
    fill: #fed8a4;
  }
}
