.confidential___3zs5A{display:inline;background-color:#000;color:transparent;padding:0 8px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;height:18px;line-height:18px;word-break:break-all;letter-spacing:-5.5px}
.uploader___2JEwz .ant-upload{width:100%}
